body{
    background-color: white;
    font-family: sans-serif;
    margin: 0;
}
/* Create Header with flexbox */
header{
 background-color: slategray;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center ;
    padding: 10px 0 10px 0px;
}

header h1{
    text-align: left;
        background-color: blueviolet;
        padding: 0 9px 0 41px;
                font-size: 50px;    
}

header h1 a{
    color: slategray;
    text-decoration: none;
}

header nav{
    padding-right: 5%;
}

/* set topNav links to flex items */
.topNav{
    display: flex;
    list-style: none;
    } 
.topNav li{
    padding: 5px;
}

.topNav a{
    color: blueviolet;
    padding: 5px 10px;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 3px solid blueviolet;
}
.topNav a:hover{
    background-color: blueviolet;
    color:slategray;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);        
}

.lowerNav a:hover{
    background-color: blueviolet;
    color:slategray;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6); 
}

.hero{
    background-image: url("../assets/images/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: 200px;
    position: relative;
}

.hero h2{
    background-color: blueviolet;
    color: slategray;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    right: 5%;
    padding: 0px 20px;
}
.container{
    width: 1050px;
    margin:auto
}
/* about me section */
.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;

}
.aside-section{
   background-color: white;
   border-right: 4px solid navy;
   min-width: 160px;
   margin-right: 20px;
    
}   
.aside-section h2{
    text-align: right;
    font-size: 36px;
    color: slategray;
    padding: 10px;
}
.photo{
    width: 20%;
    margin: 0 2% 1% 0;
    border: 5px solid navy;
    float: left;
}

.profile-content{
    flex-grow: 1;
    margin-left: 50px;
    text-align: left;
    line-height: 1.5;

}
.profile-content p{
    font-size: 20px;
    line-height: 1.5;
}
/* work section */
.work-projects{
    display: flex;
    margin-bottom: 30px;
}
.work-projects img:hover, .work-projects{
  filter: sepia(0%);
    opacity: 100%;
  transition: 500ms;
}
#surfcard{
    display: flex;
    justify-content: center;
    
}
#surfcard img{
       margin: auto;
}

.cardcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    position: relative;
    width: 48%;
    margin-bottom: 15px;
    border: 5px solid navy;
}
figcaption{
    position: absolute;
    bottom: 30px;
    background-color: navy;
    color: slategray;
    padding: 5px 15px;
    z-index: 1;
}
.card:first-child{
    width: 100%;
    height:500px;
}
.card img{
    width: 100%;
    height: 100%;
    opacity: 75%;
}

footer{
    display: flex;
    }
.lowerNav{
    margin: auto;
}
.lowerNav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.lowerNav ul li{
    margin-right: 20px;
    padding: 20px;
}
.lowerNav a{
    font-size: 20px;
    text-decoration: none;
    padding: 5px 10px;
}
