body{
    background-color: aquamarine;
    font-family: sans-serif;
    margin: 0;
}
/* Create Header with flexbox */
header{
 background-color: slategray;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center ;
    padding: 10px 0 10px 0px;
}

header h1{
    text-align: left;
        background-color: blueviolet;
        padding: 0 9px 0 41px;
                font-size: 50px;    
}

header h1 a{
    color: slategray;
    text-decoration: none;
}

header nav{
    padding-right: 5%;
}

/* set topNav links to flex items */
.topNav{
    display: flex;
    list-style: none;
    } 

    .topNav li{
    padding: 5px;
}

.topNav a{
    color: blueviolet;
    padding: 5px 10px;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 3px solid blueviolet;
}

.hero{
    background-image: url("../assets/images/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: 200px;
    position: relative;
}

.hero h2{
    background-color: blueviolet;
    color: slategray;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    right: 5%;
    padding: 0px 20px;
}

.container{
    display: flex;
}
#profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    

}
.aside-section{
   background-color: white;
   font-size: 40px;
   text-align: end;
   padding-right: 15px;
   border-right: 4px solid navy;
   padding-left: 160px;
}   
.photo{
    width: 11%;
    margin: 0 2% 1% 0;
    border: 5px solid navy;
    float: left;
}

.profile-content{
    flex-grow: 1;
    background-color: chartreuse;
    margin-left: 50px;
    text-align: left;
    }
 
