/* variables */
:root{
    --main-color:#588157 ;
   --border-color:#bc4749;
    --accent-color:#dad7cd;
    --misc-color: #8d99ae;
    --background-color: #eaf4f4;

}

body{
    background-color: var(--background-color);
    font-family: sans-serif;
    margin: 0;
}
/* Create Header with flexbox */
header{
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center ;
    padding: 10px 0 10px 0px;
}

header h1{
    text-align: left;
    background-color: var(--accent-color);
    padding: 0 9px 0 41px;
    font-size: 50px;    
}

header h1 a{
    color: var(--main-color);
    text-decoration: none;
}

header nav{
    padding-right: 5%;
}

/* set topNav links to flex items */
.topNav{
    display: flex;
    list-style: none;
} 

.topNav li{
    padding: 5px;
}

.topNav a{
    color: var(--accent-color);
    padding: 5px 10px;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 3px solid var(--accent-color);
}

.topNav a:hover{
    background-color: var(--accent-color);
    color:var(--main-color);
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    border: none;        
}

.lowerNav a:hover{
    background-color: var(--main-color);
    color:var(--accent-color);
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6); 
}

.hero{
    background-image: url("../assets/images/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: 200px;
    position: relative;
}

.hero h2{
    background-color: var(--main-color);
    color: var(--accent-color);
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    right: 5%;
    padding: 0px 20px;
    
}

.container{
    width: 1100px;
    margin:auto
}

/* about me section */
.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;

}

.aside-section{
   background-color:var(--background-color);
   border-right: 4px solid var(--border-color);
   min-width: 160px;
   margin-right: 20px;
    
}  

.aside-section h2{
    text-align: right;
    font-size: 36px;
    color: var(--misc-color);
    padding: 10px;
}

.photo{
    width: 20%;
    margin: 0 2% 1% 0;
    border: 5px solid var(--border-color);
    float: left;
}

.profile-content{
    flex-grow: 1;
    margin-left: 50px;
    text-align: left;
    line-height: 1.5;

}

.profile-content p{
    font-size: 20px;
    line-height: 1.5;
}
/* work section */
.work-projects{
    display: flex;
    
    margin-bottom: 30px;
}

.work-projects img:hover, .work-projects{
  filter: sepia(0%);
    opacity: 100%;
  transition: 500ms;
}

#coderefactor{
    display: flex;
    justify-content: center;
    
}

#coderefactor img{
       margin: auto;
}

.cardcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    position: relative;
    width: 48%;
    margin-bottom: 15px;
    border: 5px solid var(--border-color);
        }
figcaption{
    position: absolute;
    bottom: 30px;
    background-color: var(--border-color);
    color: var(--accent-color);
    padding: 5px 15px;
    z-index: 1;
}
.card:first-child{
    width: 100%;
    
}
.card img{
    width: 100%;
    height: 100%;
    opacity: 75%;
    object-fit: cover;
}
/* footer section */
footer{
    display: flex;
   }

.lowerNav{
    margin: auto;
    display: flex;
}

.lowerNav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.lowerNav ul li{
    margin-right: 20px;
    padding-right: 20px;
}
.lowerNav a{
    font-size: 20px;
    font-weight: bold;    
    color: var(--misc-color);
    padding: 5px 10px;
}

/* media queries */
@media screen and (max-width:980px) {
    header{
        justify-content:center;
    }

    header h1 {
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }

    .card:first-child:first-child {
        height: 300px;
    }

    footer h2, .lowerNav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lowerNav ul {
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
}
/* for 768px screens  */
@media screen and (max-width: 768px) {
    header nav ul li a {
        border: none;
}

.card{
        width: 100%;
    }

.figcaption {
        padding: 0;
    }
}
